.transformationWrapper {
  padding: 3rem 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: rgba(55, 65, 81, 0.5); */
}

.transformation {
  max-width: 1200px;
}

.transformationTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.transformationTitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 3px;
  background: #3b82f6;
}

.aboutPicWrapper {
  flex: 1;
  position: relative;
  height: 400px;
  width: 50%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  transition: transform 0.3s ease;
}

.aboutPicWrapper:hover {
  transform: translateY(-5px);
}

.aboutPic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.aboutPicWrapper:hover .aboutPic {
  transform: scale(1.05);
}

.importantWords {
  color: #3b82f6;
  font-weight: 600;
}

.aboutPara {
  flex: 1;
  font-size: 1.25rem;
  line-height: 1.8;
  color: #ffffff;
}

.aboutTextWrapper1,
.aboutTextWrapper2,
.aboutTextWrapper3,
.aboutTextWrapper4 {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 2rem 0;
}

@media (max-width: 920px) {
  .aboutTextWrapper {
    flex-direction: column;
  }

  .aboutTextWrapper1,
  .aboutTextWrapper3 {
    flex-direction: column;
  }
  .aboutTextWrapper2,
  .aboutTextWrapper4 {
    flex-direction: column-reverse;
  }

  .aboutPara {
    flex: 1;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #ffffff;
  }
}

@media (max-width: 620px) {
  .aboutPara {
    flex: 1;
    font-size: 1rem;
    line-height: 1.3;
    color: #ffffff;
  }
}
