.program {
  height: 100vh;
  max-width: 1200px;
  padding: 20px;
}

.backButton {
  color: rgb(96, 165, 250);
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  background-color: rgb(17, 24, 39);
  margin-bottom: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
  position: fixed;
  margin-top: 15px;
  margin-left: 15px;
}

.backButton:hover {
  color: rgb(147, 197, 253);
  background-color: rgba(96, 165, 250, 0.1);
}
